@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --bg-color: #fff;
  --accent-color: #841bb4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --bg-color: #000000;
    --accent-color: #841bb4;
  }
}